@import 'utils/colors.scss';
@import 'utils/variables.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid $fu_c_peter_river;
  color: $fu_c_peter_river;
  padding: 20px 0;

  & .heading {
    font-size: $fs_xxxx_large;
  }

  & img {
    margin-top: 10px;
  }

  & .text {
    font-size: $fs_large;
    margin-top: 10px;
  }
}